# This file is not part of the Flutter project.
# It is used by Git to ignore files that should not be committed.

# Flutter / Dart tool build files
.dart_tool/
.packages
.pub-cache/
.pub-spec.yaml

# Build outputs
build/
android/.gradle/
android/.idea/
android/local.properties
android/app/release/
android/app/debug/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

# Firebase config
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Environment / editor
.vscode/
.idea/
*.iml
*.log
.DS_Store
